
.calculator{
  background-image: url("https://image.freepik.com/free-vector/soft-blueabstract-background_1020-1105.jpg");
  border-color:#002222;
  border-width:4px;
  border-style:solid;
  border-radius:5%;
  width: 330px;
  height: 480px;
  margin: auto
}
.title{
  text-align:center;
}
.buttons{
  vertical-align: middle;
  margin: 2%;
  border-color:#002222;
  border-width:3px;
  border-style:solid; 
  width: 65px; 
  height: 50px;
  background-image: url("https://image.freepik.com/free-vector/soft-blueabstract-background_1020-1105.jpg");
}

.numberDisplay
{
  margin: 2%;
  text-align: right;
  border-color:#002222; 
  border-width:3px; 
  border-style:solid;
  width: 300px; 
  height: 50px;
}