
    .img_background{  
      background-image: url("https://scontent-sea1-1.xx.fbcdn.net/hprofile-xpa1/v/t1.0-1/p160x160/10696390_1549957545237349_4398711097188775432_n.jpg?oh=51273e170949f01f2d47742bdd7c46bc&oe=57B39DA7"); 
       
    }    
    .displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    word-wrap: break-word;  
    } 

     h4 { 
     font-family: Lobster; 
     color: #002222;
     }

   #bigWell{
     background-image: url("https://image.freepik.com/free-vector/beige-vintage-background_73062.jpg");
      border-color:#002222;
      border-width:3px;
      border-style:solid;
      border-radius:5%;
      width: 365px;
      height: 450px;
      margin-left: auto;
      margin-right: auto;
    }
.buttons{
      vertical-align: middle;
      margin: 1%;
      border-color:#002222;
      border-width:3px;
      border-style:solid; 
      width: 70px; 
      height: 50px;
      background-image: url("https://image.freepik.com/free-vector/beige-vintage-background_73062.jpg");
}

.text
{     text-align: center;
      vertical-align: middle;
      margin: 1%;
      line-height: 5px; /* <- same as buttons */    
      box-sizing: border-box;	
}

#numberDisplay
{
  text-align: right;
  border-color:#002222; 
  border-width:3px; 
  border-style:solid;
  width: 320px; 
  height: 50px;
}